---
import Base from '../../../layouts/Base.astro';
import BlogCard from '../../../components/blog/BlogCard.astro';
import { getLocalizedTagStaticPaths, getPostByTag, getTagFromPathParam, isMultiLangMode } from '../../../utils/pages';

export async function getStaticPaths() {
  return isMultiLangMode() ? getLocalizedTagStaticPaths() : [];
}

const { lang, tag } = Astro.params;
const decodedTag = getTagFromPathParam(tag);

if (!isMultiLangMode()) {
  return Astro.redirect('/404');
}

const posts = await getPostByTag(decodedTag, lang);
const title = `#${decodedTag}`;
const description = `${posts.length} posts tagged with ${decodedTag}`;
---

<Base title={title} description={description}>
  <h1>#{decodedTag}</h1>
  <BlogCard posts={posts} />
</Base>
