---
import Base from '../../layouts/Base.astro';
import BlogCard from '../../components/blog/BlogCard.astro';
import { getTagStaticPaths, getPostByTag, isMultiLangMode } from '../../utils/pages';

if (isMultiLangMode()) {
  return Astro.redirect('/404');
}

export async function getStaticPaths() {
  return getTagStaticPaths();
}

const { tag } = Astro.params;
const posts = await getPostByTag(tag);
const title = `#${tag}`;
const description = `${posts.length} posts tagged with ${tag}`;
---

<Base title={title} description={description}>
  <h1>#{tag}</h1>
  <BlogCard posts={posts} />
</Base>
