---
import Base from '../../layouts/Base.astro';
import Graph from '../../components/graph/Graph.astro';
import { getLocalizedStaticPaths, isMultiLangMode } from '../../utils/pages';
import I18nKey from '../../i18n/i18nKey';
import { useTranslations } from '../../i18n/translation';

export function getStaticPaths() {
  return getLocalizedStaticPaths();
}

const { lang } = Astro.params;

if (!isMultiLangMode()) {
  return Astro.redirect('/404');
}

const currentLocale = lang || 'en';
const t = useTranslations(currentLocale);
const title = t(I18nKey.graph);
---

<Base title={title} description={title} ignoreSearch>
  <h1>{title}</h1>
  <Graph mode="global" locale={currentLocale} settingsEnabled={true} />
</Base>
