---
interface Props {
  url: string;
  url_min?: string;
  alt?: string;
  full?: boolean;
  full_bleed?: boolean;
  start?: boolean;
  end?: boolean;
  pixels?: boolean;
  transparent?: boolean;
  no_hover?: boolean;
  spoiler?: boolean;
  solid?: boolean;
}

const {
  url,
  url_min,
  alt = '',
  full = false,
  full_bleed = false,
  start = false,
  end = false,
  pixels = false,
  transparent = false,
  no_hover = false,
  spoiler = false,
  solid = false,
} = Astro.props;
---

{
  url_min ? (
    <a href={url}>
      <img
        class:list={[
          full && 'full',
          full_bleed && 'full-bleed',
          start && 'start',
          end && 'end',
          pixels && 'pixels',
          transparent && 'transparent',
          no_hover && 'no-hover',
          spoiler && 'spoiler',
          spoiler && solid && 'solid',
        ]}
        alt={alt}
        src={url_min}
      />
    </a>
  ) : (
    <img
      class:list={[
        full && 'full',
        full_bleed && 'full-bleed',
        start && 'start',
        end && 'end',
        pixels && 'pixels',
        transparent && 'transparent',
        no_hover && 'no-hover',
        spoiler && 'spoiler',
        spoiler && solid && 'solid',
      ]}
      alt={alt}
      src={url}
    />
  )
}
